{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="jquery-ui.css">
	<link rel="stylesheet" type="text/css" href="{% static 'index/css/semantic.min.css' %}">
	<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="{% static 'index/css/semantic.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'index/css/global.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<nav class="navbar navbar-default header" id="header">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="true" aria-controls="navbar">
					<span class="sr-only">Toggle Nav</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<div id="logo-vert"><a href="#" id="logo" style="color: black;">Scheduler</a></div>
			</div>
			<div id="navbar" class="navbar-collapse collapse" aria-expanded="true">
			<ul class= "nav navbar-nav">
				<li><a href="#">Home</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#">Become a Barber</a></li>
			    <li><a href="/signup" id="signUp"><span class="glyphicon glyphicon-user"></span>Sign Up</a></li>
			    <li><a href="#logForm" id="logIn"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
	    	</ul>
	    	</div>

             {% block signup %} {% endblock %}
		</div>
	</nav>

	<div id="content">

    <div>

	<footer>
	<div id="policy">
		<div class="block"><a href="#">About</a><a href="#">Policy</a><a href="#">FAQ</a></div>
		<div class="block"><p>&#169; Scheduler, LLC All rights reserved.</p></div>
	</div>
	<div id="social">
		<a href="#"><img src="{% static 'index/images/facebook.png' %}"></a>
		<a href="#"><img src="{% static 'index/images/instagram.png' %}"></a>
		<a href="#"><img src="{% static 'index/images/youtube.png' %}"></a>
		<a href="#"><img src="{% static 'index/images/twitter.png' %}"></a>
		</div>
</footer>
</body>
<script type="text/javascript" src="form.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
 integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
 <script type="text/javascript">
 	$('.ui.checkbox').checkbox();
 </script>
</html>