	<div id="logForm" class="popupContainer">
	    		<div class="popUp">
	    			<div class="block log-fb"><button class ="fb" style="width: 100%;"><img src="{% static 'index/images/fb-login.png' %}"></button></div>
	    			<div class="divider">or</div>
	    			<div class="log-email">
	    				<form>
	    					<input type="text" name="username" placeholder="Email Address">
	    					<input type="text" name="password" placeholder="Password">
	    					<div>
		    					<div class="ui checkbox">
									<input type="checkbox" name="example">
									<label>Make my profile visible</label>
								</div>
		    					<a class="right" href="#">Reset Password</a>
	    					</div>
	    					<button type="submit" class="btn btn-info full-width">Sign In</button>
	    					<hr>
	    					<div class="vert-mid-group">
	    						<p>Don't have an account?</p>
	    						<button class="btn btn-outline-info right">Sign Up</button>
	    					</div>
	    				</form>
	    			</div>
	    		</div>
	    	</div>