.initial-bg{
	height: 100%;
	padding: 0;
	background-color: rgba(0,0,0,0.7);
}
.initial-bg-heading{
	font-size:5vw;
	letter-spacing: 0.2vw;
}
.tab{
	margin:0 0 3% 0;
}
.header-width-left{
	position: absolute;
	top: 30%;
	left: 10%;
	width: 60%;
}
.form-group{
	width: 50%;
	display: inline-block;
}
#typed-strings h1{
	display: inline-block;
}
#steps{
	font-family: 'Oxygen', sans-serif;
	min-height: 100%;
	width: 100%;
	color: black;
	margin: 0;
	display: block;
	padding:5% 0 3% 0;
}	
#instructions{
	margin: 0;
	width: 49%;
	min-height: 100%;
	display: inline-block;
	text-align: center;
	vertical-align: top;
}
#img-instruct{
	display: inline-block;
	margin: 0;
	width: 49%;
	text-align: center;
	vertical-align: top;
}
#img-instruct img{ /*this is the img on the right side of the instruction section*/
	width: 60%;
}
.instruct-text{ /*left side of the instruction section which holds all of the text*/
	width: 90%;
	margin: 2% 0 5% 10%;
	padding: 2% 0% 2% 15%;
	text-align: left;
}
.instruct-text h2{
	font-size: 2.5vw;
}
.instruct-text p{
	font-size: 1.5vw;
}
.instruct-text img{/*icons above each instruction or instruct-text*/
	width: 10%;
	margin: 0 0 0 20%;
}
#reviews{
	padding: 2%;
	text-align: center;
	width: 100%;
	display: block;
	min-height: 50%;
	background:-webkit-linear-gradient(#1fced4,#49b7dc);
	/**background-color: #49b7dc;**/
}
.block{
	display: block;
	margin-bottom: 5%;
}
article{
	padding: 3% 0% 0% 0%;
	width: 32%;
	text-align: center;
	display: inline-block;
	vertical-align: top;
}
article img {
	width: 70%;
	border-radius: 50%;
	margin: 5% 0%;
}
article p{
	width: 70%;
	margin: auto;
}
